<!-- Footer - King Kong Tag -->
<footer class="bg-cyan-50">
    <div class="container px-5">
        <div class="flex justify-center text-center">
            <div class="col-12 pt-10 pb-20 lg:py-20 lg:text-lg">
                <a href="#top" class="w-[155px] md:w-[202px] block mx-auto mb-5">
                    <span class="sr-only">Logo</span>
                    <img width="202" src="logo.png" class="w-full">
                </a>
                <p class="mb-5">Copyright © <span class="dyn-year"></span>. All Rights Reserved. | <a href="/terms-and-conditions.pdf" class="cursor-pointer hover:underline" target="_blank">Terms & Conditions</a></p>
<!-- 
                <if condition="page === 'offer'">
                    Digital Marketing by <a href="https://kingkong.co" target="_blank">King Kong</a>
                </if>

                <else>
                    Digital Marketing by King Kong
                </else> -->
            </div>
        </div>
    </div>
</footer>
