<div
	class="flex flex-col gap-4 bg-white px-[18px] py-8 md:py-9 border border-[#D2D2D2] rounded-xl {{class}}"
>
	<!-- Header -->
	<div class="flex justify-between items-center w-full">
		<div class="flex gap-1 md:gap-2 items-center">
			<img src="{{avatar}}" alt="" class="size-10 md:size-12" />
			<div class="flex flex-col">
				<span class="font-semibold text-lg md:text-[20px]"
					>{{name}}</span
				>
				<span class="text-xs md:text-sm">{{time}}</span>
			</div>
		</div>
		<img src="google-logo.png" alt="" class="size-9 md:size-10 ml-auto" />
	</div>
	<!-- Stars -->
	<div class="flex gap-1">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 21 20"
			class="size-[19px] md:size-[21px]"
		>
			<path
				fill="#F4B212"
				d="m10.442 0 2.465 7.587h7.978l-6.454 4.689 2.465 7.587-6.454-4.69-6.454 4.69 2.466-7.587L0 7.586h7.977z"
			/>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 21 20"
			class="size-[19px] md:size-[21px]"
		>
			<path
				fill="#F4B212"
				d="m10.442 0 2.465 7.587h7.978l-6.454 4.689 2.465 7.587-6.454-4.69-6.454 4.69 2.466-7.587L0 7.586h7.977z"
			/>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 21 20"
			class="size-[19px] md:size-[21px]"
		>
			<path
				fill="#F4B212"
				d="m10.442 0 2.465 7.587h7.978l-6.454 4.689 2.465 7.587-6.454-4.69-6.454 4.69 2.466-7.587L0 7.586h7.977z"
			/>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 21 20"
			class="size-[19px] md:size-[21px]"
		>
			<path
				fill="#F4B212"
				d="m10.442 0 2.465 7.587h7.978l-6.454 4.689 2.465 7.587-6.454-4.69-6.454 4.69 2.466-7.587L0 7.586h7.977z"
			/>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 21 20"
			class="size-[19px] md:size-[21px]"
		>
			<path
				fill="#F4B212"
				d="m10.442 0 2.465 7.587h7.978l-6.454 4.689 2.465 7.587-6.454-4.69-6.454 4.69 2.466-7.587L0 7.586h7.977z"
			/>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 21 20"
			class="size-[19px] md:size-[21px]"
		>
			<path
				fill="#F4B212"
				d="m10.442 0 2.465 7.587h7.978l-6.454 4.689 2.465 7.587-6.454-4.69-6.454 4.69 2.466-7.587L0 7.586h7.977z"
			/>
		</svg>
	</div>
	<!-- Content -->
	<blockquote class="md:text-lg">{{content}}</blockquote>
</div>

